<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Oceanbite Seafood - Premium Wild-Caught Seafood{% endblock %}</title>
    
    {% load static %}
    
    <!--=====FAB ICON=======-->
    <link rel="shortcut icon" href="{% static 'assets/img/logo/title1.png' %}" type="image/x-icon">

    <!--=====CSS=======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/mobile-menu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    {% block extra_css %}{% endblock %}

    <!--=====JQUERY=======-->
    <script src="{% static 'assets/js/jquery-3-7-1.min.js' %}"></script>
</head>
<body class="body1">
    <div class="paginacontainer"> 
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
            </svg>
        </div>
    </div> 

    <!--=====preloader start=======-->
    <div id="preloader" class="preloader1">
        <div class="progress-circle-all">
            <div class="circle-inner">
                <img src="{% static 'assets/img/logo/preloader.svg' %}" alt="Fishin Logo" class="fish">
            </div>
            <div class="circle-progress"></div>
        </div>
        <div class="text">Loading......</div>
    </div>
    <div id="content" style="display: none;"></div>
    <!--=====preloader end=======-->

    {% include 'core/partials/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'core/partials/footer.html' %}

    <!--=====SCRIPTS=======-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/fontawesome.js' %}"></script>
    <script src="{% static 'assets/js/mobile-menu.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countup.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/circle-progress.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'assets/js/Splitetext.js' %}"></script>
    <script src="{% static 'assets/js/text-animation.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/jaquery-ripples.js' %}"></script>
    <script src="{% static 'assets/js/jquery.lineProgressbar.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>